<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Data Source=172.30.93.123;Initial Catalog=ATTEDEYV;User ID=r2beat4ever;Password=Deyvid159;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>